# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
*.env
.env

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db
